.mapPage {
    display: flex;
    height: 80%;
    width: 100%;
}
.info{

    display: grid;
    grid-template-rows: minmax(30%, 30%) minmax(10%,10%) minmax(35%, 35%)
}
.infoContainer{
    flex:25;
    height: 80%;
    width: 25%;
    position: relative;
}

.reports{
    overflow:auto;
}

.map-container {
    flex: 75%;
    height: 80%;
    width: 75%;
    position: relative;
}

.campus-map {
    width: 100%;
    height: auto;
    margin-top: 0;

}

.map-container .buttons {
    position: absolute;
    
}
