.mapPage {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}


.infoContainer {
    flex: 24;
    width: 25%;
    position: relative;
}

.report{
    overflow: auto;
    height: 50%; 

}
.map-container {
    flex: 75;
    height: 100%;
    width: 75%;
    position: relative;
}

.campus-map {
    align-items: flex-end;
    width: 100%;
    height: auto;
    margin-top: 0;

}

.map-container .buttons {
    position: absolute;

}

.map-container.returnButton {
    position: absolute;

}

.returnButton-link {
    color: #fff;
    text-decoration: none;
}

.returnButton:hover {
    background-color: rgb(75, 160, 181);
    border-color: rgb(75, 160, 181);
    color: #fff;
    box-shadow: 0 0 10px rgba(74, 161, 181, 0.8);
}

.returnButton:focus,
.returnButton:active {
    background-color: rgb(75, 160, 181);
    border-color: rgb(75, 160, 181);
    color: #fff;
}