

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

.column-left {
    float: left;
    width: 30%;
}

.column-right {
    float: right;
    width: 70%;
    text-align: right;
}

.button-link {
    color: #4aa0b4;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0;
}
